/* Nagłówek */
h1 {
    text-align: center;
}

/* Tekst, blok, ostylowienie*/
.intro{
    text-align: center;
    border: solid 1px; 
    background-color: rgb(111, 73, 216);
}

/* Blok, ostyolwienie */
#Lastname {
    color: red;
    border: 1px solid red;
    padding: 5px;
    background-color: yellow;
}

